<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="yireo_example_extension_attributes_test" xsi:type="object">Yireo\ExampleSimpleExtensionAttributes\Command\Test</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="processExampleSimpleExtensionAttributes" type="Yireo\ExampleSimpleExtensionAttributes\Plugin\ProcessExampleAttributes" />
    </type>

    <type name="Yireo\ExampleSimpleExtensionAttributes\Command\Test">
        <arguments>
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Api\ProductRepositoryInterface\Proxy</argument>
        </arguments>
    </type>
</config>
